.about-the-company {
    background: url('/images/about-bg.jpg');
    background-position: center;
    height: calc(100vh - 55px);
}

.about-the-company::before {
    content: '';
    position: absolute;
    height: calc(100% - 55px);
    width: 100%;
    background: rgba(250, 250, 250, .3);
}

// .more-info {
//     height: 75vh;
// }

.more-info .icon-container {
    min-height: 174px;
}

@media (min-width: 1200px) {
    .more-info-text-container {
        min-height: 170px;
    }
}

.our-clients-and-partners {
    background: url('/images/our-clients-and-partners-bg.jpg');
    // height: 100vh;
}

.our-clients-and-partners::before {
    top: 0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(210, 226, 236, .5);
}

.company-background .display-1, .quality-assurance .display-1 {
    color: #3098C1 !important;
}

.quality-assurance {
    background: #A8D3E5;
}

.quality-assurance .left {
    border-color: black !important;
}

@media (max-width: 992px) {
    .quality-assurance .left {
        border: none !important;
    }    
}