.faqs-header {
    background: url('/images/faqs-bg.jpg');
    background-position-y: bottom;
}

.faqs-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, .3);
    top: 0;
}

@media (max-width: 992px) {
    .faqs .left {
        border: none !important;
    }
}