.home-header {
    background: url('/images/home-header-bg-image.jpg');
}

.home-header .left {
    background: rgba(250, 250, 250, .5);
}

.home-header .right {
    background: rgba(168, 211, 229, .5);
}

.value-prop .icon-container {
    min-height: 118px;
}

.mission-vision {
    background: url('/images/mission-vision-bg.jpg');
    height: 100vh;
}

.mission-vision::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background:  rgba(168, 211, 229, .5);
}

.mission-vision .vision, .mission-vision .mission {
    color: #333;
}

.mission-container {
    margin-top: 25vh;
}

.products {
    height: 100vh;
    background:  rgba(168, 211, 229, 1)
}

.products .right {
    background: url("/images/products-bg.png") no-repeat center;
    background-size: 75%;
}

.products .description {
    background: rgba(250, 250, 250, .5);
}

.testimonial-container {
    min-height: 345px;
}

.testimonial-card {
    background: #EFEFEF;
    min-height: 250px;
}

.testimonial-quote {
    opacity: .5;
}

.testimonial-user {
    bottom: -95px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-avatar {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
}

.slick-current .testimonial-card {
    background: #75BBD6;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media only screen and (min-width: 980px) {
    .home-header {
        height: calc(100vh - 55px);
    }

    .home-header .left, .home-header .right {
        height: 75%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-header .right {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}