.mission-vision-main {
    background: url('/images/mission-vision-main-bg.jpg');
    height: calc(100vh - 55px);
}

.mission-vision-main::before {
    content: '';
    position: absolute;
    height: calc(100% - 55px);
    width: 100%;
    background: rgba(250, 250, 250, .3);
}

.core-competencies h3 {
    color: #3198C1;
}

.our-vision-our-mission {
    background: url('/images/our-mission-our-vision-bg.jpg');
}

.our-vision-our-mission::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #D2E2EC;
    opacity: .9;
}

.our-guarantee {
    background: #D2E2EC;
}