.products-main {
    background: url('/images/products-header-bg.jpg');
    background-position: center;
    height: calc(100vh - 55px);
}

.products-main::before {
    content: '';
    position: absolute;
    height: calc(100% - 55px);
    width: 100%;
    background: rgba(250, 250, 250, .3);
}

.product-list-container {
    margin-left: -15px;
    margin-right: -15px;
}

.product-image {
    object-fit: cover;
    width: 100%;
}

.product-list-container .slick-next, .product-list-container .slick-prev {
    z-index: 9999;
    width: 40px;
    height: auto;
}

.product-list-container .slick-prev {
    left: 30px;
}

.product-list-container .slick-next {
    right: 30px;
}

.product-list-container .slick-prev:before, .slick-next:before {
    font-size: 40px;
}

.product-wrapper {
    overflow-x: hidden;
}

.product-info {
    background: rgba(250, 250, 250, .75);
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
}

.product-info-show .product-info {
    right: 0;
    transition: right .3s;
}

@media (max-width: 480px) {
    .product-info {
        max-height: 236px;
        overflow-y: scroll;
    }
}