// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Home
@import 'home';

// About
@import 'about';

// Products
@import 'products';

// Mission Vision
@import 'mission-vision';

// FAQs
@import 'faqs';

// Footer
@import 'footer';

.text-light-blue {
    color: #3298C1;
}

.libel-suit {
    font-family: 'LibelSuit';
}

.helvetica {
    font-family: 'Helvetica';
}

.helvetica-bold-oblique {
    font-family: 'HelveticaBoldOblique';
}

.helvetica-bold {
    font-family: 'HelveticaBold';
}

.helvetica-neue-medium {
    font-family: 'HelveticaNeueMedium';
}

@font-face {
    font-family: 'LibelSuit';
    src: url('/fonts/libel-suit-rg.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.ttf');
}

@font-face {
    font-family: 'HelveticaBoldOblique';
    src: url('/fonts/Helvetica-BoldOblique.ttf');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('/fonts/Helvetica-Bold.ttf');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('/fonts/helveticaneue-medium.ttf');
}

.responsive-text {
    font-size: 8vw;
}

.responsive-text-md {
    font-size: 5vw;
}

.nature-spring-blue {
    color: #3098C1;
}

.bg-light-blue {
    background: rgba(168, 211, 229, .3);
}